.sub-header {
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(Assets/Images/about_Banner1.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.sub-header h1 {
    color: #fff;
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom:5px ;
}

.sub-header .sub-header-about-text {
    font-size: 17px;
    color: #fff;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-us {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
    margin-top: -5%;
}

.about-col {
    flex-basis: 48%;
    padding: 30px 2px;
}

.about-col img {
    width: 100%;
}

.about-col h1 {
    padding-top: 0;
}

.about-col p {
    padding: 15px 0 25px;
}
.hero-btn{
    color: #374151;
    border: 1px solid #374151;
    font-size: 15px;
}
.hero-btn:hover{
    color: #fff;
    border: 1px solid #374151;
}
.about-mision-vision-section h1{
    margin-top: -110px;
}
.about-mission-col{
    flex-basis: 40%;
    margin-left: 5%;
    margin-right: 5%;
    /* box-shadow: 0 2px 8px rgba(0,0,0,0.1); */
    height: 400px;
    /* border-radius: 10px; */
}
/* .about-mission-col img{
  border-radius: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
} */

.why-choose-about h1{
    margin-top: -100px;
}
.about-achievements-section h1{
margin-top: -70px;
}
.about-achievement-col{
    flex-basis: 20%;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
}
.about-achievement-col img{
    border-radius: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.about-achievement-col h3{
    text-align: center;
}


@media(max-width: 700px){
 .sub-header h1 {
    color: #fff;
    position: absolute;
    text-align: center;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sub-header .sub-header-about-text {
    font-size: 17px;
    color: #fff;
    position: absolute;
    text-align: center;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.why-choose-about h1{
    margin-top: -50px;
}
.about-mision-vision-section h1{
    margin-top: -90px;
}
.about-achievements-section h1{
margin-top: -60px;
}
 .sub-header p {
    display: none;
  }
}