.destination-Card {
    height: 380px;
    width: 350px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 235, 235);
    border-radius: 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.destination-Card:hover {
    transform: scale(1.05);
}

.destination-Card img {
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    height: 210px;
}

.destination-Card h2 {
    padding: 10px 6px;
}

.destination-Card p {
    padding: 0px 6px;
}

.destination-Card button {
    height: 40px;
    width: 100px;
    padding: 5px 9px;
    margin-left: 6px;
    margin-top: 16px;
    border-radius: 60px;
    border: none;
    background-color: skyblue;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.destination-Card button:hover {
    transform: scale(0.9);
}