.location {
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.sub-header {
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.6)), url(Assets/Images/contact_us_Banner4.webp);
    background-position:center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.sub-header p{
font-size: 60px;
}

.location iframe {
    width: 100%;
}
.location h3 {
    margin-top: -50px;
    margin-bottom: 10px;
    font-size: 30px;
}
.contact-us{
    width: 80%;
    margin: auto;
   /* display: flex;
   justify-content: space-between; */
}
.contact-us .need-help-head{
font-size: 30px;
margin-top: 20px;
}

.contact-col{
    flex-basis: 48%;
    /* margin-bottom:30px; */
}
.contact-col h3{
    flex-basis: 48%;
    /* margin-bottom:30px; */
      margin-top: -50px;
    margin-bottom: 10px;
    font-size: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fa-solid ,.fa-regular{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p {
    padding: 0;
}
.contact-col div h5 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}

@media(max-width: 700px) {
.contact-us .need-help-head{
font-size: 30px;
margin-top: 40px;
}
.sub-header h1{
    margin-top:6% ;
}
.sub-header-about-text{
  display: none;
}

}
