.sub-header .sub-header-courses-text {
    font-size: 19px;
    color: #fff;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.sub-header {
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.6)), url(Assets/Images/course_banner3.webp);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}



@media(max-width: 700px) {

    .sub-header h1 {
        font-size: 27px;
        color: #fff;
        position: absolute;
        text-align: center;
        top: 48%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .sub-header .sub-header-courses-text {
        font-size: 19px;
        color: #fff;
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .sub-header p {
        display: none;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

/* DESTINATION CARD CSS */
.destination-Card {
    height: 380px;
    width: 350px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 235, 235);
    border-radius: 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.destination-Card:hover {
    transform: scale(1.05);
}

.destination-Card img {
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    height: 210px;
}

.destination-Card h2 {
    padding: 10px 6px;
}

.destination-Card p {
    padding: 0px 6px;
}

.destination-Card button {
    height: 40px;
    width: 100px;
    padding: 5px 9px;
    margin: 0 auto;
    margin-top: 16px;
    border-radius: 60px;
    border: none;
    background-color: skyblue;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.destination-Card button:hover {
    transform: scale(0.9);
}