* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav {
    position: fixed;
    background-color: #374151;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 2% 6%; */
    z-index: 1000;
    width: 100%;
}

.nav .logo {
    margin-left: 20px;
}

.nav-links .fa-xmark {
    display: none;
}

.nav .fa-bars {
    display: none;
}

.menu-icon,
.close-icon {

    font-size: 24px;
    color: white;
    cursor: pointer;
    display: none;
}

.Header {
    min-height: 90vh;
    width: 100%;
    background-image:
        linear-gradient(rgba(4, 9, 30, 0.3), rgba(4, 9, 30, 0.4)),
        url(Assets/Images/photo-1629481317043-16b1343d77d9.avif);
    background-position: center;
    background-size: cover;
}

.nav-links {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    gap: 10px;
    list-style-type: none;
    height: 40px;
    /* text-align: right; */
}

.nav-links ul {
    flex: 1;
    /* text-align: right; */
    display: flex;
    list-style-type: none;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    padding: 8px;
    display: inline-block;
    position: relative;
}

.nav-links ul li::after {
    content: ' ';
    width: 0%;
    height: 2px;
    background-color: rgb(8, 8, 129);
    display: block;
    margin-top: -5px;
    transition: 0.5s;
}

.nav-links ul li:hover:after {
    width: 100%;
}

/* .HeroSection {
    min-height: 90vh;
    width: 100%;
    background-image:
        linear-gradient(rgba(4, 9, 30, 0.3), rgba(4, 9, 30, 0.2)),
        url(Assets/Images/photo-1629481317043-16b1343d77d9.avif);
    background-position: center;
    background-size: cover;
} */
.textBox {
    width: 90%;
    /* background-color: aqua; */
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.textBox h1 {
    font-size: 52px;
}

.textBox p {
    margin: 10px 0 40px;
    font-size: 16px;
    color: #fff;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid black;
    padding: 12px 34px;
    font-size: 18px;
    cursor: pointer;
    position: relative;
}

.hero-btn:hover {
    border: 1px solid black;
    background-color: #374151;
    transition: 1s;
}

@media (max-width:700px) {
    .textBox h1 {
        font-size: 20px;
    }

    .nav ul li {
        display: block;
    }

    .nav-links {
        position: absolute;
        background-color: #374151;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -260px;
        /* text-align: left; */
        z-index: 2;
        flex-direction: column;
        transition: 1s;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
    }

    .nav-links .fa-solid {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav .fa-bars {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 10px;
    }

}

/* COURSES */

.course {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.course > p{
    font-size: 20px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col {
    flex-basis: 30%;
    background: #eaf3ff;
    border-radius: 10px;
    margin-bottom: 5%;
    /* padding: 20px 12px; */
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.5s;
}

.course-col img {
    width: 100%;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.course-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media(max-width: 700px) {
    .destination-Card {
        height: 410px;
        width: 280px;
        margin: 0 auto;
    }

    .row {
        flex-direction: column;
    }
}

/* CAMPUS */
.campus {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 40px;
}
.campus > p{
font-size: 20px;
}
.campus-col {
    flex-basis: 32%;
    border-radius: 10px;
    border-bottom: 30px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.campus-col img {
    width: 100%;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    background-color: rgba(1, 12, 131, 0.233);
}

.layer h3,
.campus-box-text {
    width: 100%;
    font-weight: 500;
    font-size: 26px;
    color: #fff;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
 .layer:hover h3 {
        bottom: 62%;
        opacity: 1;
    }

    .layer:hover .campus-box-text {
        bottom: 55%;
        opacity: 1;
    }

    .layer:hover .text-Saudi {
        bottom: 50%;
        opacity: 1;
    }


@media(max-width: 700px) {

    .layer:hover h3 {
        bottom: 62%;
        opacity: 1;
    }

    .layer:hover .campus-box-text {
        bottom: 45%;
        opacity: 1;
    }

    .layer:hover .text-Saudi {
        bottom: 40%;
        opacity: 1;
    }


}


/* FACILITIES */
.facilities {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.facilities > p{
    font-size: 20px;
}

.facilities-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.facilities-col img {
    width: 100%;
    border-radius: 10px;
}

.facilities-col p {
    padding: 0;
}

.facilities-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}


/* TESTIMONIALS */
.testimonials {
    width: 80%;
    margin: auto;
    padding-top: 40px;
    text-align: center;
}
.testimonials > p{
font-size: 20px;
}

.testimonial-col {
    flex-basis: 49%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.testimonial-col img {
    height: 40px;
    margin-right: 30px;
    margin-left: 5px;
    border-radius: 50%;

}

.testimonial-col p {
    padding: 0;

}

.testimonial-col h3 {
    margin-top: 15px;
    text-align: left;
}

.testimonial-col .fa-solid {
    color: #f44336;
}

@media(max-width: 700px) {
    .testimonial-col img {
        margin-left: 0px;
        border-radius: 15px;

    }

}

/* CTA */
.cta {
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Assets/Images/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 130px 0;
}

.cta h1 {
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}


.backToTop {
    position: fixed;
    bottom: 30px;
    /* distance from bottom */
    right: 30px;
    /*  distance from right */
    width: 50px;
    /* circle width */
    height: 50px;
    /* circle height */
    background-color: #333;
    /* dark circle */
    color: #fff;
    /* arrow color */
    font-size: 20px;
    /* arrow size */
    border-radius: 50%;
    /* makes it circular */
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    /* soft shadow */
    transition: all 0.3s ease;
    /* smooth hover */
    z-index: 1000;
    /* above all content */
    display: flex;
    /* Dabba ko Flex Container banao */
    justify-content: center;
    /* Content ko horizontally (chaurayi mein) center karein */
    align-items: center;
    /* Content ko vertically (lambayi mein) center karein */


    display: flex;
    /* Flexbox yahan rehne dein, taa ke center ho */
    justify-content: center;
    align-items: center;

    visibility: hidden;
    /* Default hidden */
    opacity: 0;
    /* Default transparent */
    transition: all 0.3s ease;

}

/* Hover effect */
.backToTop:hover {
    background-color: #555;
    /* lighter on hover */
    transform: translateY(-5px);
    /* slight lift */
}

/* .backToTop i { */
/* Arrow ko thoda sa upar shift karein */
/* margin-top: 11px;
    margin-left: 11px;  */
/* Agar phir bhi farak ho to 1px ya 2px ki value adjust karein */
/* } */

.backToTop.show {
    visibility: visible;
    opacity: 1;
}

.footer {
    background-color: #374151;
    color: #f9fafb;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer h4 {
    margin-top: 15px;
    /* margin-bottom: 25px; */
    font-weight: 600;
}

.icons .fa-brands {
    color: #00028a;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    width: 90%;
    margin-left: 5%;
    text-align: left;
    margin: 0 auto;
}

.blocks {
    flex: 1 1 200px;
    /*har block kam se kam 200px le aur adjust ho */
    min-width: 180px;
}

.logo {
    margin-left: 5%;
    margin-top: 1%;
    margin-right: 7%;
}

.logo li {
    list-style-type: none;
}

.logo .icons i {
    color: #f3f4f6;
    margin-left: 1%;
    font-size: 22px;
}

.logo .icons i:hover {
    color: #3B82F6;

}

.blocks {
    width: 20%;
    text-align: left;
}

.blocks ul {
    list-style-type: none;
}

.blocks h4 {
    margin-bottom: 5%;
}

.blocks ul a {
    color: white;
}

.contactInfo {
    width: 22%;
}

.contactInfo li {
    line-height: 27px;
}


/* ABOUT PAGE */